{% extends 'skracacz/base.html' %}
{% load static %}
{% block content %}
<div class="card" style="width: 40rem; margin:0 auto; margin-top:30vh; text-align:center;">
  <div class="card-body">
    <h2 class="card-title">Link skrócony!</h5>
    <h4 class="card-subtitle mb-2 text-muted"><a href="#" class="card-link">{{ link.link }}</a></h4>
    <h3 class="card-subtitle mb-2 text-muted">skrócony do:</h3>
    <h3 class="card-subtitle mb-2 text-muted"><a href="/{{ link.short }}" class="card-link">127.0.0.1/{{ link.short }}</a></h3>
  </div>
</div>
{% endblock %}
